<div class="business-account-settings-page">
  <h1 class="business-account-settings-title">{{ 'settings.accountTitle' | translate }}</h1>
  <p class="business-account-settings-subtitle">{{ 'settings.accountSubtitle' | translate }}</p>

  <div class="business-account-settings-card">
    <h2 class="business-account-settings-card-title">{{ 'settings.changePasswordCardTitle' | translate }}</h2>
    <p class="business-account-settings-card-subtitle">{{ 'settings.changePasswordCardDescription' | translate }}</p>
    <app-change-password-form />
  </div>
</div>
