<div class="pl-hero-wrap">
  <div class="pl-hero-slider" [class.pl-hero-slider--play-entrance]="playEntrance()">
    <p-carousel
      [value]="carouselSlides()"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [showIndicators]="true"
      [showNavigators]="false"
      styleClass="pl-hero-carousel"
    >
      <ng-template let-src pTemplate="item">
        <div class="pl-hero-carousel__slide">
          <img
            class="pl-hero-carousel__img"
            [src]="src"
            alt=""
            width="800"
            height="400"
            loading="lazy"
            decoding="async"
          />
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
